@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Start Global Rules */
:root {
  --main-color: #d3ad7f;
  --bg: #010103;
  --bg2: #13131a;
  --border: rgba(255, 255, 255, 0.3);
  --transition: 0.3s linear;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

section {
  border-top: var(--border);
  padding: 20px 0;
}

.title {
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding-bottom: 35px;
  text-transform: uppercase;
  margin: 0;
}
.title span {
  color: var(--main-color);
}

.btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 30px;
  border: none;
  font-size: 17px;
  display: inline-block;
  margin-top: 10px;
  transition: 0.3s linear;
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 2px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #010103;
  border-bottom: 1px solid var(--border);
  z-index: 100;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 80px;
}
header .nav {
  display: flex;
}
header .nav li a {
  color: #fff;
  font-size: 18px;
  transition: var(--transition);
}
header .nav li {
  padding: 5px 10px;
  border-bottom: 7px solid transparent;
  transition: var(--transition);
}
header .nav li:hover {
  background-color: rgb(204 204 204 / 30%);
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 7px;
}
header .nav li:hover a {
  color: var(--main-color);
}
#burger {
  display: none;
  margin-left: 25px;
  transform-origin: 0 0;
  cursor: pointer;
}
#burger span {
  display: block;
  background-color: var(--main-color);
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 6px;
}

#burger.is-active span:nth-child(1) {
  transform: translate(1px, 10px) rotate(45deg);
}
#burger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
#burger.is-active span:nth-child(3) {
  transform: translate(0px, -5px) rotate(-45deg);
}
#burger.is-active span {
  background-color: #ff274b;
}

header .container ul.active {
  display: block;
  position: fixed;
  top: 100px;
  right: 10px;
  background-color: #000;
  width: 200px;
  height: 60vh;
  padding: 20px;
  text-align: center;
}
ul.active li {
  padding: 5px 0;
}
ul.active li a {
  font-size: 25px;
  color: #ccc;
}
ul.active li:hover {
  background-color: rgb(204 204 204 / 30%);
  color: var(--main-color);
}
header .icons {
  color: #fff;
  display: flex;
  font-size: 25px;
}
header .icons li {
  cursor: pointer;
  margin-right: 10px;
  transition: var(--transition);
}
header .icons li:hover {
  color: var(--main-color);
}
#form {
  display: none;
}
#form.active {
  position: relative;
  display: block;
  background-color: #fff;
  position: fixed;
  top: 100px;
  right: 80px;
  width: 350px;
  border-radius: 20px;
  height: 41px;
}
#form.active input {
  width: 300px;
  font-size: 18px;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
}
#form label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}
#menu {
  display: none;
}
#menu.active {
  display: block;
  position: fixed;
  top: 90px;
  right: 0;
  background-color: #fff;
  width: 350px;
  height: calc(100vh - 90px);
  padding: 0 15px;
  text-align: center;
}
.active .box {
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #000;
  margin: 20px 0;
}
.active .box i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}
.active .box i:hover {
  color: var(--main-color);
}
.active .box img {
  width: 80px;
}
.active .box h3 {
  font-size: 20px;
  margin: 0;
}
.active .box h3 span {
  color: var(--main-color);
  font-size: 15px;
}
/* End header */

/* Start Home */
.home {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: url(../images/home-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content {
  max-width: 600px;
  color: #fff;
}
.home .content h2 {
  font-size: 60px;
  margin: 20px 0;
}
.home .content p {
  font-size: 20px;
  font-weight: lighter;
  color: #eee;
  line-height: 1.6;
}
/* End Home */

/* Start About US */
.about .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg2);
  padding: 15px 0;
}
.about .content .img {
  width: 49%;
}
.about .content .img img {
  max-width: 100%;
}
.about .content .text {
  padding: 10px;
  color: #fff;
  width: 48%;
}
.about .content .text h3 {
  font-size: 30px;
  margin: 0;
}
.about .content .text p {
  line-height: 1.6;
  color: #ccc;
}
/* End About US */

/* Start Menu */
.menu .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}
.menu .content .box {
  color: #fff;
  text-align: center;
  border: 1px solid var(--border);
  padding: 40px;
}
.menu .content .box:hover {
  background-color: var(--bg2);
}
.menu .content .box img {
  width: 100px;
}
.menu .content .box h3 {
  margin: 0px;
  padding: 10px 0;
}
.menu .content .box p {
  padding: 5px 0;
  margin: 10px 0;
  font-size: 23px;
}
.menu .content .box p del {
  font-size: 15px;
}
/* End Menu */

/* Start Products */
.products .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.products .content .box {
  text-align: center;
  color: #fff;
  border: 1px solid var(--border);
  padding: 40px;
}
.products .content .box .icons {
  padding-bottom: 20px;
}
.products .content .box .icons i {
  border: 1px solid var(--border);
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: var(--transition);
}
.products .content .box .icons i:hover {
  margin: 0 10px;
  transform: scale(1.1);
}
.products .content .box h3 {
  font-size: 25px;
  margin: 0;
  padding: 15px;
}
.products .content .box .icons-star {
  color: var(--main-color);
  font-size: 18px;
}
.products .content .box p {
  font-size: 25px;
  margin: 0;
  padding-top: 15px;
}
.products .content .box p del {
  font-size: 15px;
}
/* End Products */

/* Start Review */
.review .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.review .content .box {
  color: #fff;
  text-align: center;
  border: 1px solid var(--border);
  padding: 30px;
}
.review .content .box img:nth-last-child(2) {
  border-radius: 50%;
  width: 70px;
}
.review .content .box h3 {
  margin: 0;
  padding-top: 10px;
}
.review .content .box p {
  margin: 0;
  padding: 20px 0;
  line-height: 1.6;
}
/* End Review */

/* Start Contact */
.contact .container {
  justify-content: center;
  display: flex;
}
.contact .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}
.contact .content form {
  background-color: var(--bg2);
  padding: 50px 20px;
  text-align: center;
  width: 50%;
}
.contact .content form h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}
.contact .content form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--bg);
  border: 1px solid var(--border);
}
.contact .content form .inputBox input {
  width: 100%;
  padding: 20px;
  font-size: 17px;
  color: #fff;
  background: var(--bg);
  outline: none;
  border: none;
}
.contact .content form .inputBox i {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
}
.contact .content iframe {
  width: 50%;
  height: 100%;
  background-color: #fff;
}
/* End Contact */

/* Start Blogs */
.blogs .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}
.blogs .content .box {
  border: 1px solid var(--border);
  color: #fff;
  overflow: hidden;
  transition: var(--transition);
}
.blogs .content .box .img {
  overflow: hidden;
  width: 100%;
}
.blogs .content .box img {
  width: 100%;
  transition: var(--transition);
}
.blogs .content .box:hover img {
  transform: scale(1.2);
}
.blogs .content .box .text {
  padding: 20px;
}
.blogs .content .box h3 a {
  color: #fff;
  font-size: 20px;
}
.blogs .content .box h3 a:hover {
  color: var(--main-color);
}
.blogs .content .box h3 {
  margin: 0 0 15px;
  font-size: 16px;
  color: var(--main-color);
}
.blogs .content .box p {
  line-height: 1.6;
  color: #ccc;
}
/* End Blogs */

/* Start Footer */
footer {
  background-color: var(--bg2);
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .icons ul {
  display: flex;
}
footer .icons ul li {
  border: 1px solid var(--border);
  padding: 12px 20px;
  margin: 15px 10px;
}
footer .icons ul li:hover {
  border-radius: 10px;
}
footer .icons ul li a i {
  color: #fff;
  font-size: 30px;
  transition: 0.2s linear;
}
footer .icons ul li:hover a i {
  color: var(--main-color);
}
footer .icons-conect {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
}
footer .icons-conect div {
  border: 1px solid var(--border);
  padding: 15px 20px;
  margin: 0 0 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
footer .icons-conect div .info {
  color: var(--main-color);
}
footer .icons-conect span {
  color: #fff;
}
footer h2 a {
  color: #fff;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1px;
}
footer h2 a span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
}
/* End Footer */

/* Start Media Queries */

@media (max-width: 767px) {
  .title {
    font-size: 33px;
  }
  header .logo img {
    width: 60px;
  }
  header .icons {
    font-size: 20px;
  }
  header .nav {
    display: none;
  }
  #burger {
    display: block;
  }
  header .active {
    display: none;
  }
  #menu.active {
    width: 80%;
    height: calc(90vh - 90px);
  }
  .active .box {
    gap: 10px;
  }
  .active .box img {
    width: 60px;
  }
  .active .box h3 {
    font-size: 17px;
  }
  .active .box i {
    right: 0px;
  }
  #form.active {
    right: 25px;
    width: 250px;
  }
  #form.active input {
    width: 200px;
  }
  .home .content h2 {
    font-size: 35px;
  }
  .products .content,
  .review .content,
  .blogs .content,
  .menu .content {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .about .content {
    flex-direction: column;
  }
  .contact .content form {
    padding: 20px 10px;
    width: 100%;
  }
  .contact .content form .inputBox input {
    padding: 15px;
    font-size: 15px;
  }
  .contact .content form .inputBox i {
    font-size: 18px;
  }
  .contact .content iframe {
    width: 100%;
  }
  .about .content .img,
  .about .content .text {
    width: 95%;
  }
  .contact .content {
    flex-direction: column-reverse;
  }
  footer .icons ul li {
    padding: 9px 13px;
    margin: 12px 5px;
  }
  footer .icons ul li a i {
    font-size: 25px;
  }
  footer .icons-conect div {
    padding: 8px;
    font-size: 17px;
  }
  footer .icons-conect div .info {
    font-size: 13px;
    letter-spacing: 0;
  }
  footer h2 a {
    font-size: 13px;
  }
  footer h2 a span {
    font-size: 17px;
  }
}

/* End Media Queries */